@page
@model ExploreRoskilde.Pages.Places.NotFound

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Not sound sorry kámo</h2>
</div>
</body>
</html>