@page
@model PlacesModel
@using ExploreRoskilde.Models
@{
    ViewData["Title"] = "Places";
}
<h1>@ViewData["Title"]</h1>


@foreach (Place place in Model.AllPlaces.Values)
 {
     <h1>@place.Title</h1>
 }

